<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title></title>
</head>
<body>
    <div class="container">
        <form action="/process" style="padding-top: 100px" method="post">
            <h1>Allergies 🤓</h1>
            <div class="form-group">
                <label for="allergyScore">What is your allergy score?</label>
                <input id="allergyScore" name="allergyScore" class="form-control" type="number" placeholder="Allergy Score">
            </div>
            <button type="submit" class="btn btn-primary btn-xs">Process</button>
        </form>
    </div>
</body>
</html>
