<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title></title>
</head>
<body>
    <div class="container">
            <h1>List of Your very own Allergies!!</h1>
            
            <h2>{{ result }}</h2>
    </div>
</body>
</html>
