<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title></title>
</head>
<body>
    <div class="container">
            <h1>List of Your very own Allergies!!</h1>
            {% if result != false %}
                <ul>
                    {% for allergen in result %}
                        <li><h3>{{ allergen }}</h3></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>Invalid allergy score!</h3>
            {% endif %}
    </div>
</body>
</html>
